<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @team.country %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @team.budget %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @team.staff %>
</p>

<%= link_to 'Edit', edit_team_path(@team), :class => 'button' %> |
<%= link_to 'Back', teams_path, :class => 'button' %>
