<p id="notice"><%= notice %></p>

<h1 class="centerText">Tracks</h1>

<table class="centerTable" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Laps</th>
      <th>Lap Length (Km)</th>
      <th>Race Length(Km)</th>
      <th colspan="3">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.laps %></td>
        <td><%= track.lapLength %></td>
        <td><%= track.raceLength %></td>
        <td><%= link_to 'Show', track, :class => 'button' %></td>
        <td><%= link_to 'Edit', edit_track_path(track), :class => 'button' %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="centerText">
  <%= link_to 'New Track', new_track_path, :class => 'button'%>
</div>


