<p id="notice"><%= notice %></p>

<h1 class="centerText">Positions</h1>

<table class="centerTable">
  <thead>
    <tr>
      <th>Position</th>
      <th>Driver (ID)</th>
      <th>Race (ID)</th>
      <th colspan="3">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.pos %></td>
        <td><%= position.driver %></td>
        <td><%= position.race %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="centerText">
  <%= link_to 'New Position', new_position_path, :class => 'button'%>
</div>

