<p id="notice"><%= notice %></p>

<p>
  <strong>Pos:</strong>
  <%= @position.pos %>
</p>

<p>
  <strong>Drivers:</strong>
  <%= @position.driver_id%>
</p>

<p>
  <strong>Race:</strong>
  <%= @position.race_id %>
</p>

<%= link_to 'Edit', edit_position_path(@position), :class => 'button' %> |
<%= link_to 'Back', positions_path, :class => 'button' %>
