<p id="notice"><%= notice %></p>

<h1 class="centerText">Entries</h1>

<table class="centerTable">
  <thead>
    <tr>
      <th>Team (ID)</th>
      <th>Race (ID)</th>
      <th colspan="3">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.team %></td>
        <td><%= entry.race %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="centerText">
  <%= link_to 'New Entry', new_entry_path, :class => 'button'%>
</div>

