<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @entry.team %>
</p>

<p>
  <strong>Race:</strong>
  <%= @entry.race %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
