<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @entry.team_id %>
</p>

<p>
  <strong>Race:</strong>
  <%= @entry.race_id %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry), :class => 'button' %> |
<%= link_to 'Back', entries_path, :class => 'button' %>
