<p id="notice"><%= notice %></p>

<h1 class="centerText">Races</h1>

<table class="centerTable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Track (ID)</th>
      <th colspan="3">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.date %></td>
        <td><%= race.name %></td>
        <td><%= race.track %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="centerText">
<%= link_to 'New Race', new_race_path, :class => 'button'%>
</div>
