<p id="notice"><%= notice %></p>

<h1 class="centerText">Drivers</h1>

<table class="centerTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Titles</th>
      <th>Wins</th>
      <th>Team (ID)</th>
      <th colspan="3">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.age %></td>
        <td><%= driver.titles %></td>
        <td><%= driver.wins %></td>
        <td><%= driver.team_id %></td>
        <td><%= link_to 'Show', driver, :class => 'button' %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver), :class => 'button' %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="centerText">
  <%= link_to 'New Driver', new_driver_path, :class => 'button'%>
</div>
