<!DOCTYPE html>
<html>
  <head>
    <title>F1 Database</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>
      Formula 1 2019
    </h1>
  </header>

    <%= yield %>

  </body>
</html>
